ui-lib/node_modules
nw/node_modules
*.map
nw/css/desktop.css
ui-lib/dist/
ui-lib/doc/_site/
ui-lib/_site/
ui-lib/doc/assets/css/demoUI*
ui-lib/doc/assets/js/demoUI.js
ui-lib/doc/assets/img
ui-lib/doc/assets/font/*wesome*
*.swp
shell
shell/*
ui-lib/doc/app
nw/package.json
