.imChat_dataDiv{
  height:300px;
  text-align: left;
  font-size: 15px;
  color: #333;
  margin: 0px 0px;
  overflow-y:auto;
  img{
    width: auto;
    height: auto;
  }
}
.accountFont{
  font-size: 13px;
  color: #040;
}
.timeFont{
  font-size: 13px;
  color: #100;
}