.textarea { 
  align: left;
  .border(1px,solid,#ddd);
  margin:0px;       
  margin-top: 5px;
  margin-right: 1%;
  margin-bottom: 2px;
  margin-left: 1%;
  background-color: @white;
  color:black; 
  overflow:auto;
  width:98%;/*自动适应父布局宽度*/
}