html body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.desktop{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height:100%;
}

#cdos{
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.icon {
	width: 60px;
	height: 80px;
	border-style: 1px solid black;
	border-radius: 10px;
}

.icon:hover {
	box-shadow: 0px 0px 2px black;
}

#computer {
	position: absolute;
	left: 20px;
	top: 40px;
}

#computer img{
	width: 60px;
	height: 60px;
}

#user-home {
	position: absolute;
	left: 20px;
	top: 130px;
}

#user-home img{
	width: 60px;
	height: 60px;
}

.clock{
	width: 200px;
	height: 200px;
	position: absolute;
	right:20px;
	top:40px;
}

#clock-back{
	width: 200px;
	height: 200px;
}

#p_canvas{

	width: 200px;
	height: 200px;
	position: absolute;
	right:0px;
	top:0px;
}

.dock{
	position: fixed;
	bottom:0;
	width: 100%;
	text-align: center;
}

.dock img{
	width: 50px;
	height: 50px;
	cursor: pointer;
}