.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
  padding: 4px;
  font-size: 15px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background-color: #ffffff;
}
.btn .disabled,
.btn .disable {
  cursor: default;
  pointer-events: none;
  color: #ababab;
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.btn .active {
  cursor: default;
  background-color: #2d2d2d;
  color: #ffffff;
  border-color: #cccccc;
}
.btn .active:hover {
  border: 2px solid #b3b3b3;
  background-color: #d9d9d9;
  background-image: linear-gradient(to bottom, #d9d9d9, #2d2d2d);
  background-image: -moz-linear-gradient(top, #d9d9d9, #2d2d2d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9d9d9), to(#2d2d2d));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #2d2d2d);
  background-image: -o-linear-gradient(top, #d9d9d9, #2d2d2d);
  background-repeat: repeat-x;
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  text-align: left;
}
.dropdown-menu .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.dropdown-menu .active > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0099aa;
  background-image: linear-gradient(to bottom, #0099aa, #006680);
  background-image: -moz-linear-gradient(top, #0099aa, #006680);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0099aa), to(#006680));
  background-image: -webkit-linear-gradient(top, #0099aa, #006680);
  background-image: -o-linear-gradient(top, #0099aa, #006680);
  background-repeat: repeat-x;
  outline: 0;
}
.dropdown-menu .disabled > a {
  display: block;
  padding: 3px 20px;
  cursor: default;
  pointer-events: none;
  color: #999999;
  background-color: #ffffff;
  border-color: #d2d2d2;
  white-space: nowrap;
  text-decoration: none;
}
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0px 6px 6px 6px;
  -moz-border-radius: 0px 6px 6px 6px;
  border-radius: 0px 6px 6px 6px;
}
.dropdown-submenu > .dropdown-menu.drop-left {
  left: -100%;
}
.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}
.dropdown-submenu:hover .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-context .nav-header {
  cursor: default;
}
.dropdown-context .dropdown-submenu:hover .dropdown-menu {
  display: none;
}
.dropdown-context .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-context-sub:before,
.dropdown-context-sub:after {
  display: none;
}
.tooltip {
  position: absolute;
  display: inline;
  margin-left: 0px;
}
.tooltip .tipsy-inner {
  text-align: center;
  display: block;
  padding: 4px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  -webkit-border-radius: 16px 6px 16px 6px;
  -moz-border-radius: 16px 6px 16px 6px;
  border-radius: 16px 6px 16px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.property {
  width: 0px;
  height: 0px;
  display: none;
  position: absolute;
  z-index: 100;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  padding: 0;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
.property h2 {
  height: 24px;
  font-size: 15px;
  text-align: center;
  background-color: #e3e3e3;
  position: relative;
  margin: 0 0 10px 0;
  padding: 5px;
  cursor: move;
  line-height: 24px;
  color: #335533;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.property .property-show {
  margin: 10px;
}
.property .property-show .property-tabs {
  margin: 0px 5px 7px 5px;
  height: 15px;
}
.property .property-show .property-tabs a {
  text-decoration: none;
  background: #eeeeee;
  color: #335533;
  padding: 5px 5px 1px 5px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.property .property-show .property-tabs a:hover {
  background: #335533;
  color: #ffffff;
  padding-bottom: 2px;
}
.property .property-show .property-tabs a.selected {
  background: #ffffff;
  color: #335533;
  border-bottom: none;
  padding-bottom: 2px;
}
.property .property-show .tabcontent {
  margin: -2px 5px 0px 5px;
  z-index: 10;
  border: 1px solid #cccccc;
  height: 315px;
  background-color: #ffffff;
}
.property .property-show .tabcontent p {
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 16px;
  margin-left: 5%;
}
.property .property-show .tabcontent .iconcontent {
  margin: 0px;
  width: 25%;
  height: 100%;
  text-align: center;
  float: left;
  background-color: #ffffff;
}
.property .property-show .tabcontent .iconcontent img {
  width: 80%;
  margin-top: 20px;
}
.property .property-show .tabcontent .basicinfocontent {
  margin: 0;
  padding: 0;
  width: 73%;
  height: 100%;
  float: left;
  background-color: #ffffff;
}
.property .property-show .tabcontent .basicinfocontent p {
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  margin-left: 5%;
}
.property button {
  padding: 4px;
  font-size: 15px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background-color: #ffffff;
  cursor: default;
  background-color: #2d2d2d;
  color: #ffffff;
  border-color: #cccccc;
  margin-top: 10px;
  margin-left: 81%;
  margin-bommom: 4%;
}
.property button:hover {
  border: 2px solid #b3b3b3;
  background-color: #d9d9d9;
  background-image: linear-gradient(to bottom, #d9d9d9, #2d2d2d);
  background-image: -moz-linear-gradient(top, #d9d9d9, #2d2d2d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9d9d9), to(#2d2d2d));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #2d2d2d);
  background-image: -o-linear-gradient(top, #d9d9d9, #2d2d2d);
  background-repeat: repeat-x;
  outline: 0;
}
html body {
  width: 100%;
  height: 100%;
  background-image: url(../img/cdos.png);
  background-size: cover;
  overflow: hidden;
}
.col1 {
  width: 100px;
}
.col2 {
  width: 200px;
}
.col3 {
  width: 300px;
}
.row1 {
  height: 100px;
}
.row2 {
  height: 200px;
}
.row3 {
  height: 300px;
}
.desktop {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.gridcontainer {
  position: absolute;
  width: 92%;
  height: 90%;
  top: 4%;
  right: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.gridcontainer .gridcol {
  width: 100px;
  height: 100%;
  display: block;
  float: right;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: start;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.gridcontainer .gridcol .grid {
  width: 100%;
  height: 100px;
  display: block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.gridcontainer .gridcol .grid.hovering {
  -webkit-box-shadow: 0px 0px 10px 0px #000000 inset;
  -moz-box-shadow: 0px 0px 10px 0px #000000 inset;
  -o-box-shadow: 0px 0px 10px 0px #000000 inset;
  box-shadow: 0px 0px 10px 0px #000000 inset;
}
.gridcontainer .gridcol .grid.norhover {
  -webkit-box-shadow: 0px 0px 3px #000000;
  -moz-box-shadow: 0px 0px 3px #000000;
  -o-box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px #000000;
}
.dock {
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.dock div {
  display: inline-block;
}
.dock div img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.plugin-div {
  width: 90px;
  height: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 101;
}
.icon {
  width: 80px;
  height: 80px;
  margin: 5px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  z-index: 99;
}
.icon img {
  width: 50px;
  height: 50px;
  z-index: 98;
}
.icon p {
  width: 80px;
  height: 32px;
  margin: 2px 0px;
  font-size: small;
  text-align: center;
  overflow: hidden;
  z-index: 99;
}
.icon p:hover {
  cursor: default;
}
.icon.focusing {
  outline: black auto 5px;
  background-clip: content-box;
  background-color: #a9a9a9;
  opacity: 0.5;
}
.icon.focusing p {
  background-clip: content-box;
  background-color: #a9a9a9;
  opacity: 1;
}
