@LineHeight: 80px;
@LineWidth: 80px;
@col: @LineWidth + 20px;
@row: @LineHeight + 20px;

html body {
	width: 100%;
	height: 100%;
	background-image: url(../img/cdos.png);
	background-size: cover;
}

.col1 {
	width: @col;
}

.col2 {
	width: @col * 2;
}

.col3 {
	width: @col * 3;
}

.row1 {
	height: @row;
}

.row2 {
	height: @row * 2;
}

.row3 {
	height: @row * 3;
}

.desktop{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height:100%;
}

#cdos{
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.box(@orient, @pack, @align) {
	//for Safari, Opera, Chrome
	display: -webkit-box;
	-webkit-box-orient: @orient;
	-webkit-box-pack: @pack;
	-webkit-box-align: @align;
	//for firefox
	//display: -moz-box;
	//-moz-box-orient: @orient;
	//-moz-box-pack: @pack;
	//-moz-box-align: @align;
}

.select(@sel) {
	-webkit-user-select: @sel;
	-moz-user-select: @sel;
}

.box-shadow-mine(@h, @v, @blur, @spread, @c, @in: inset) {
	-webkit-box-shadow: @h @v @blur @spread @c @in;
	-moz-box-shadow: @h @v @blur @spread @c @in;
	-o-box-shadow: @h @v @blur @spread @c @in;
	box-shadow: @h @v @blur @spread @c @in;
}

.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.icon {
	width: @LineWidth;
	height: @LineHeight;
	margin: 5px 10px;
	.box-sizing;
	
	//border-style: 1px solid black;
	//border-radius: 10px;
	//background-color: black;
	
	.box(vertical, center, center);
	z-index: 99;
	
	//&:hover {
	//	box-shadow: 0px 0px 2px black;
	//}

	&:focus {
		outline: white auto 5px;
	}

	img {
		width: @LineWidth * 0.625;
		height: @LineHeight * 0.625;
		//border: 1px solid black;
		z-index: 98;
	}

	p {
		width: 80px;
		height: 32px;
		margin: 2px 0px;
		font-size: small;
		text-align: center;
		overflow: hidden;
		z-index: 99;
		
		&:hover {
			cursor: default;
		}
	}

	&.focusing {
		//.out-box-shadow(0px, 0px, 3px, black);
		outline: black auto 5px;
	}
}

.out-box-shadow(@h, @v, @blur, @color) {
	-webkit-box-shadow: @h @v @blur @color;
	-moz-box-shadow: @h @v @blur @color;
	-o-box-shadow: @h @v @blur @color;
	box-shadow: @h @v @blur @color;
}

.gridcontainer {
	position: absolute;
	width: 92%;
	height: 90%;
	top: 4%;
	right: 100px;
	//.box(horizontal, start, start);
	.select(none);

	.gridcol {
		width: @col;
		height: 100%;
		display: block;
		float: right;
		.box(vertical, start, start);
		.select(none);

		.grid {
			width: 100%;
			height: @row;
			display: block;
			vertical-align: middle;
			//.box(vertical, center, center);
			.select(none);

			&.hovering {
				.box-shadow-mine(0px, 0px, 10px, 0px, black, inset);
			}

			&.norhover {
				.out-box-shadow(0px, 0px, 3px, black);
			}
		
		}
	}
}

#menu {
	display: none;
	position: absolute;
	
	ul {
		background-color: #F5F5F5;
		box-shadow: 0px 0px 1px black;
		padding: 2px 2px;
		list-style: none inside none;
	}

	li {
		width: 120px;
		margin: 4px 0px;
		text-indent: 30px;
		
		&:hover {
			cursor: pointer;
			background-color: #A9A9A9;
			color: white;
		}

		&.menu-disable {
			cursor: default;
			color: #A9A9A9;
		}
	}
}

//.clock{
//	width: 200px;
//	height: 200px;
//	position: absolute;
//	right:20px;
//	top:20px;
//}

//#p_canvas{
//	z-index: 9999;
//	width: 200px;
//	height: 200px;
//	position: absolute;
//	right:0px;
//	top:0px;
//}
.plugin-div {
  width: 180px;
  height: 180px;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 101;
}

.unselect{
  -webkit-user-select: none;
  -moz-user-select: none;
}

.dock {   
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.dock img {
  width: 50px;
  height: 50px;
    -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}
  
.tooltip {
  position: absolute;
  display: inline;
  text-align: center;
  color: #222;
  margin-left: 0px;
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
}

.tipsy-inner{
  text-align: center;
  display: block;
  padding: 4px;
  border: 2px solid #ccc;
  background-color: #ddd;                     
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  border-radius: 4px;  
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
}

.tipsy-arrow{
   display: inline;
}
