
.icon-video:before { content: '\e800'; } /* '' */
.icon-wrench:before { content: '\e801'; } /* '' */
.icon-cog-outline:before { content: '\e802'; } /* '' */
.icon-wrench-outline:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-book-open:before { content: '\e805'; } /* '' */
.icon-wrench-1:before { content: '\e806'; } /* '' */
.icon-movie:before { content: '\e807'; } /* '' */
.icon-cogs:before { content: '\e808'; } /* '' */
.icon-reddit:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-book:before { content: '\e80b'; } /* '' */
.icon-newspaper:before { content: '\e80c'; } /* '' */
.icon-lightbulb:before { content: '\e80d'; } /* '' */
.icon-video-1:before { content: '\e80e'; } /* '' */
.icon-art-gallery:before { content: '\e80f'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-calendar:before { content: '\e811'; } /* '' */