.app-container {
  width: 100%;
  height: 176px;
  overflow-y: auto;
}

.app-container .content-row {
  width: 96%;
  padding: 0px 2%;
  margin-top: 4%;
}

.app-container .content-row div {
  display: inline-block;
  width: 15%;
  text-align: justify;
}

.app-container .content-row .right-content {
  width: 60%;
}

.app-container .content-row.msg {
  font-size: small; 
  text-align: center;
}

.app-container .content-row.center {
  text-align: center;
}

.app-container .content-row.right {
  text-align: right;
}

.app-container .content-row .left {
  float: left; 
}

.app-container .content-row .right {
  float: right; 
}

.app-container .content-row.border {
  border-bottom: 1px solid black; 
}

